<!DOCTYPE html>
<html>
<head>
  <title>DLSU Lab Reservation Portal Log In</title>
  <!-- CSS SECTION -->
  <link rel="stylesheet" href="../../css/auth.css">
</head>

<body>
  <!-- HOME BUTTON, PLACEHOLDER FOR LOGO OR STYLED TITLE -->
  <h1><a href="../../index.html" class="home-button">Log In - DLSU Lab Reservation Portal</a></h1>
  <div class="login-container">
    <h2>Login</h2>
    <form id="login-form">
        <!-- Input boxes (no styling) -->
        <div class="input-item">
            <input type="email" placeholder="DLSU Email" id="loginEmail" class="form-control" required>
        </div>
        <div class="input-item">
            <input type="password" placeholder="Password" id="loginPassword" class="form-control" required>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" class="checkbox-input" id="rememberMe"> Remember me
        </div>
        <button type="submit">Log In</button>
    </form>
    <p>No account? <a href="register.html">Register here</a></p>
  </div>
</body>
</html>
